.navbar{
    padding: 12px;
    background-color:var(--nav-color);
    font-size:var(--header-size);
    font-weight:var(--header-weight);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-text,
.logo {
    text-decoration: none;
    color: var(--primary-color);
}
.logo{
  height:60px;
}
.main-nav{
    display:flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.main-nav li{
    text-align:center;
    margin: var(--heading-size) auto;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}
.active {
    display: block;
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    em {
      margin-left: 10px;
      font-size: 1rem;
    }
  }
  .theme-switch-text{
    margin-left:8px;
    color: var(--primary-color);
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: var(--primary-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@media screen and (max-width: 1200px) {
    .navbar {
        display: flex;
        flex-direction: column;
        padding-bottom: 8px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 800px) {
  .navbar {
      display: flex;
      flex-direction: column;
      padding-bottom: 8px;
      align-items: center;
  }

  .main-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }
  .theme-switch-text{
    display:none;
  }
}