.widget.moving-widget {
    transition: unset;
}
.widget{
    padding:15px;
    color:var(--primary-color);
    text-align:center;
    width:100%;
    background-color:var(--nav-color);
    border-radius: 5px;
    cursor: move;

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    transition: box-shadow 300ms ease, transform 300ms ease;
    box-shadow: 1px 1px 2px var(--widget-shadow);
}
.widget:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 20px 3px var(--widget-shadow);
}
.widget p{
    margin:0px;
}
.titular_info{
    font-weight: var(--header-weight);
    font-size: var(--header-size);
    margin-bottom: 10px;
}
.daily_performance{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}
.daily_performance p{
    margin-left:15px;
}
.daily_performance img{
    width:15px;
    height:15px;
}